services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://localhost:27017/contest
    depends_on:
      - db
  db:
    image: mongo:latest
    ports:
      - "27017:27017"